@model Senparc.Weixin.MP.AdvancedAPIs.OAuth.OAuthUserInfo
<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />

    <title>二维码离线扫描程序</title>
    <style>
        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>
<body class="text-center">
    <div class="container">
        <div class="row">
            <h3>二维码离线扫描程序</h3>
            <hr />
            <input type="button" value="扫防护码" id="scancodeBtnOne" onclick="JumpToScan()" class="btn btn-info" />
            <input type="button" value="扫防化码" id="scancodeBtnTwo" class="btn btn-info" />
        </div>
        <div class="row">
            <table class="table table-striped" style="table-layout: fixed;word-wrap:break-word;" id="myTable">
                <thead>
                    <tr>
                        <th>二维码值</th>
                        <th>扫码时间</th>
                        <th>查询</th>
                        <th>删除</th>
                    </tr>
                </thead>
                <tbody id="AddContent"></tbody>
            </table>
            <input type="button" value="清空所有数据" id="scancodeBtnThree" onclick="batchdel()" class="btn btn-warning" />
        </div>
        <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
        <script type="text/javascript">
            $(function(){
                //    alert(localStorage.getItem("reValue"))
                var str=window.localStorage.getItem("reValue").split('/');
                //var jsonObj=JSON.parse(json);
                for (var i = 0; i < str.length-1;i+=2) {
                    $("#AddContent").append("<tr><td>"+str[i]+"</td><td>"+str[i+1]+"</td><td><input type='button' value='查询' onclick='Query(\""+str[i]+"\")' class='btn btn-info' /></td><td><input type='button' value='删除' onclick='del(\""+str[i]+"\",this)' class='btn btn-danger' /></td></tr>")
                }
            });
            wx.config({
                debug: false,//开启调试模式，调试所有api的返回值会在客户端alert出来
                appId: '@ViewBag.appid',//公众号的唯一标识
                timestamp: @ViewBag.timestamp,//生成签名时的时间戳
                nonceStr: '@ViewBag.noncestr',//生成签名时的随机字符串
                signature: '@ViewBag.signature',//签名
                jsApiList: ['scanQRCode']//需要使用的JS接口列表
            });
        </script>
        <script type="text/javascript">
            function JumpToScan(){
                wx.scanQRCode({
                    needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                    scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                    success: function (res) {
                        var date = new Date();
                        var seperator1 = "-";
                        var seperator2 = ":";
                        var month = date.getMonth() + 1;
                        var strDate = date.getDate();
                        if (month >= 1 && month <= 9) {
                            month = "0" + month;
                        }
                        if (strDate >= 0 && strDate <= 9) {
                            strDate = "0" + strDate;
                        }
                        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
                        + " " + date.getHours() + seperator2 + date.getMinutes()
                        + seperator2 + date.getSeconds();
                        var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                        var data="";
                        if (localStorage.getItem("reValue")==""||localStorage.getItem("reValue")==null||localStorage.getItem("reValue")==undefined) {
                            data=result+"/"+currentdate+"/";
                        }else {
                            data=localStorage.getItem("reValue");
                            var arrx=data.split('/');
                            for (var j = 0; j <arrx.length-1; j+=2) {
                                if (arrx[j]!=result )
                                {
                                    data+=result+"/"+currentdate+"/";
                                }
                            }
                        }
                        window.localStorage.setItem("reValue",data);
                        $("#AddContent").append("<tr><td>"+result+"</td><td>"+currentdate+"</td><td><input type='button' value='查询' onclick='Query(\""+result+"\",this)' class='btn btn-info' /></td><td><input type='button' value='删除' onclick='del(\""+result+"\",this)' class='btn btn-danger' /></td></tr>")
                    }
                });
            }
            function Query(ms){
                var data={scanQRCode:ms};
                $.ajax({
                    url:"/Home/Post",
                    type:"POST",
                    data:data,
                    success:function(msg){
                        alert("您好："+"@Model.nickname"+msg);
                    },
                    error:function(){
                        alert("执行失败");
                    }
                });
            }
            function del(msg,e){
                if(confirm("确定要删除此条数据吗？")){
                    var str=window.localStorage.getItem("reValue").split('/');
                    var de="";
                    for (var ii = 0; ii < str.length-1;ii+=2) {
                        if (str[ii]==msg) {
                            de+="";
                        }else{
                            de+=str[ii]+"/"+str[ii+1]+"/";
                        }
                    }
                    var n=e.parentNode.parentNode.rowIndex;
                    document.getElementById('myTable').deleteRow(n);
                    localStorage.setItem("reValue",de);
                    //window.location.reload();
                }
            }
            function batchdel(){
                var trs = document.getElementsByTagName("tr");
                for(var i = trs.length - 1; i > 0; i--) {
                    document.getElementById("myTable").deleteRow(i);
                }
                window.localStorage.setItem("reValue","");
            }
        </script>

    </div>
</body>
</html>
